<div *ngIf="yourdataArray" class="row  m-5 cover-foto ">
   <!-- cover pic profile pic name and bio  -->
   
    <img class="cover-img" [src]="coverPic?coverPic:'none'" alt="cover">

    <div class="avatar" [style.background-image]="profilePic?profilePic:'none'">
    </div>
    <div class="details-div w-100">
        <div class="w-100 name text-center ">{{yourdataArray.fullname}}</div>
    </div>

    <div class=" text-center">
        <div class="text-secondary fs-6">{{bio}}</div>
    </div>

    <!-- info field -->
    <div class=" info text-start">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                class="bi bi-mortarboard-fill text-secondary me-1" viewBox="0 0 16 16">
                <path
                    d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5Z" />
                <path
                    d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Z" />
            </svg>
            Studied at <b>{{collage?collage:'Add your Collage'}}</b>
        </div>
        <div class="mt-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                class="bi bi-mortarboard-fill text-secondary me-1" viewBox="0 0 16 16">
                <path
                    d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5Z" />
                <path
                    d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Z" />
            </svg>
            Went to <b>{{school?school:'Add your school'}}</b>
        </div>
        <div class="mt-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                class="bi bi-houses text-secondary me-1" viewBox="0 0 16 16">
                <path
                    d="M5.793 1a1 1 0 0 1 1.414 0l.647.646a.5.5 0 1 1-.708.708L6.5 1.707 2 6.207V12.5a.5.5 0 0 0 .5.5.5.5 0 0 1 0 1A1.5 1.5 0 0 1 1 12.5V7.207l-.146.147a.5.5 0 0 1-.708-.708L5.793 1Zm3 1a1 1 0 0 1 1.414 0L12 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l1.854 1.853a.5.5 0 0 1-.708.708L15 8.207V13.5a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 4 13.5V8.207l-.146.147a.5.5 0 1 1-.708-.708L8.793 2Zm.707.707L5 7.207V13.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5V7.207l-4.5-4.5Z" />
            </svg>
            Lives in <b>{{place?place:'Add your place'}}</b>
        </div>
        <div class="mt-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                class="bi bi-balloon-heart-fill text-secondary me-1" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M8.49 10.92C19.412 3.382 11.28-2.387 8 .986 4.719-2.387-3.413 3.382 7.51 10.92l-.234.468a.25.25 0 1 0 .448.224l.04-.08c.009.17.024.315.051.45.068.344.208.622.448 1.102l.013.028c.212.422.182.85.05 1.246-.135.402-.366.751-.534 1.003a.25.25 0 0 0 .416.278l.004-.007c.166-.248.431-.646.588-1.115.16-.479.212-1.051-.076-1.629-.258-.515-.365-.732-.419-1.004a2.376 2.376 0 0 1-.037-.289l.008.017a.25.25 0 1 0 .448-.224l-.235-.468ZM6.726 1.269c-1.167-.61-2.8-.142-3.454 1.135-.237.463-.36 1.08-.202 1.85.055.27.467.197.527-.071.285-1.256 1.177-2.462 2.989-2.528.234-.008.348-.278.14-.386Z" />
            </svg>
            {{maritalStatus?maritalStatus:'Update your relationship status'}}
        </div>
        <div class="mt-2">
            <a (click)="gotoMoreInfo()">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                    class="bi bi-three-dots text-secondary me-1" viewBox="0 0 16 16">
                    <path
                        d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                </svg>
            </a>
            See your about info
        </div>
    </div>

    <hr class="mt-5">
<!-- edit profile button -->
    <button class="edit-botton w-100 btn" data-bs-toggle="modal" data-bs-target="#editprofilemodal" type="button">Edit
        Profile</button>

    <hr class="mt-3">

    <!-- friend list -->
    <div class="friends-list">
        <div class="heading mb-4">Friends</div>
        <div class="text-center error-message" *ngIf="emptyFriendError">You don't have any friends</div>
        <div class="each-friend " *ngFor="let friend of friends">
            <div class=" friend-div">
                <img class="friend-img" [src]="friend.imageUrl?friend.imageUrl:''" [alt]="friend.fullname">
            </div>
            <div class="text-center friend-name">{{friend.fullname}}</div>
        </div>


    </div>

    <hr class="mt-5">
    <!-- add post -->
    <div class="add-post">
        <div class="heading">
            Add Post
        </div>
        <div class="w-100 d-flex justify-content-between mt-2 align-items-center">
            <div class="input-avatar"></div>
            <div class="add-post-input">
                <a class="text-decoration-none text-dark border-none" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" type="button"> Write something here......</a>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                class="bi bi-image-alt text-secondary" viewBox="0 0 16 16">
                <path
                    d="M7 2.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0zm4.225 4.053a.5.5 0 0 0-.577.093l-3.71 4.71-2.66-2.772a.5.5 0 0 0-.63.062L.002 13v2a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-4.5l-4.777-3.947z" />
            </svg>

        </div>
    </div>



    <hr class="mt-3">

    <!-- my post field -->
    <div>
        <div class=" mt-5" *ngFor="let posts of myPosts">
            <div class="card main-card">
                <a class="text-decoration-none" >
                    <div class="user-details-card ">
                        <div class="avatar-card d-flex ">
                            <div class="avatar-in-post "></div>
                            <div class="postname ms-2">{{myName}}</div>
                        </div>
                        <div class="date">{{posts. dateofPost | date:'mediumDate'}}</div>
                    </div>
                </a>
                <div class="post-details">{{posts.posttext}}</div>
                <img [src]="posts.imageurl" class="card-img-top" [alt]="myName">
                <div class="card-body d-flex ">
                    <div class="last-icon-class">
                        <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#3B5998"
                                class="bi bi-heart" viewBox="0 0 16 16">
                                <path
                                    d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                            </svg></a>
                        <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#3B5998"
                                class="bi bi-chat-left ms-3" viewBox="0 0 16 16">
                                <path
                                    d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                            </svg></a>
                    </div>
                    <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#3B5998"
                            class="bi bi-share" viewBox="0 0 16 16">
                            <path
                                d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z" />
                        </svg></a>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- add post modal -->
<div class="modal fade text-start" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Post</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-5">
                <app-add-post (getImageEmitter)="getImage($event)" (getTextEmitter)="getText($event)"
                    [myname]="myName"></app-add-post>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button (click)="addPost()" type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Add
                    Post </button>
            </div>
        </div>
    </div>
</div>


<!-- edit profile modal -->
<div class="modal fade text-start" id="editprofilemodal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Profile</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-5">
                <app-edit-profile [oldbio]="bio" [oldbio]="bio" [oldschool]="school" [oldcollage]="collage"
                    [oldplace]="place" [oldhobbies]="hobbies" [oldcoverpic]="coverPic" [oldprofilepic]="profilePic"
                    [oldmaritalstatus]="maritalStatus" (bioEmitter)="getbio($event)" (schoolEmitter)="getschool($event)"
                    (collageEmitter)="getcollage($event)" (placeEmitter)="getplace($event)"
                    (hobbiesEmitter)="gethobbies($event)" (maritalStatusEmitter)="getmaritalstatus($event)"
                    (profilePicEmitter)="getprofilepic($event)"
                    (coverPicEmitter)="getcoverpic($event)"></app-edit-profile>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button (click)="submitProfile()" type="button" class="btn btn-outline-success"
                    data-bs-dismiss="modal">Edit Your About Info
                </button>
            </div>
        </div>
    </div>
</div>