<div class="row mt-5">
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-10">
        <a class="text-decoration-none" (click)="gotoMyProfile()">
            <div class="each-button-container">
                <div class="myname me-2">{{fullname | uppercase}}</div>
                <div class="avatar">
                    <a></a>
                </div>
            </div>
        </a>
        <div class="each-button-container">
            <div class="name me-2">Settings</div> <a>
                <i class="fa-sharp fa-solid fa-gears icon-color"></i>
            </a>
        </div>


        <div class="each-button-container">
            <div class="name me-2">Friends</div>
            <a>
                <i class="fa-sharp fa-solid fa-user-group icon-color"></i>
            </a>
        </div>


        <div class="each-button-container">
            <div class="name me-2">Marketplace</div> <a>
                <i class="fa-sharp fa-solid fa-shop icon-color"></i>
            </a>
        </div>


        <div class="each-button-container">
            <div class="name me-2">Watch</div> <a>
                <i class="fa-regular fa-clock icon-color"></i>
            </a>

        </div>

        <div class="each-button-container">
            <div class="name me-2">Groups</div> <a>
                <i class="fa-duotone fa-user-group icon-color"></i>
            </a>
        </div>


        <div class="each-button-container">
            <div class="name me-2">Events</div> <a>
                <i class="fa-solid fa-calendar-days icon-color"></i>
            </a>
        </div>


        <div class="each-button-container">
            <div class="name me-2">Memories</div> <a>
                <i class="fa-solid fa-memory icon-color"></i>
            </a>
        </div>
        <div class="each-button-container">
            <div class="name me-2">Favourites</div> <a>
                <i class="fa-solid fa-star icon-color"></i>
            </a>
        </div>


        <div class="each-button-container">
            <div class="name me-2">Emotional Health</div> <a>
                <i class="fa-solid fa-heart icon-color"></i>
            </a>
        </div>


        <div class="each-button-container">
            <div class="name me-2">Party</div> <a>
                <i class="fa-regular fa-gift icon-color"></i>
            </a>
        </div>


        <div class="each-button-container">
            <div class="name me-2">Games</div> <a>
                <i class="fa-solid fa-gamepad icon-color"></i>
            </a>
        </div>

        <div class="each-button-container">
            <div class="name me-2">Favourites</div> <a>
                <i class="fa-solid fa-star icon-color"></i>
            </a>
        </div>


        <div class="each-button-container">
            <div class="name me-2">Emotional Health</div> <a>
                <i class="fa-solid fa-heart icon-color"></i>
            </a>
        </div>


        <div class="each-button-container">
            <div class="name me-2">Party</div>
            <a>
                <i class="fa-regular fa-gift icon-color"></i>
            </a>
        </div>


        <div class="each-button-container">
            <div class="name me-2">Games</div> <a>
                <i class="fa-solid fa-gamepad icon-color"></i>
            </a>
        </div>


        <div class="each-button-container">
            <div class="name me-2">Weather</div> <a>
                <i class="fa-solid fa-cloud-moon icon-color"></i>
            </a>
        </div>


        <div class="each-button-container">
            <div class="name me-2">Go Live</div> <a>
                <i class="fa-regular fa-gauge icon-color"></i>
            </a>
        </div>


        <div class="each-button-container">
            <div class="name me-2">Reels</div> <a>
                <i class="fa-regular fa-video icon-color"></i>
            </a>
        </div>
        <div class="each-button-container">
            <div class="name me-2">Favourites</div> <a>
                <i class="fa-solid fa-star icon-color"></i>
            </a>
        </div>


        <div class="each-button-container">
            <div class="name me-2">Emotional Health</div> <a>
                <i class="fa-solid fa-heart icon-color"></i>
            </a>
        </div>


        <div class="each-button-container">
            <div class="name me-2">Party</div> <a>
                <i class="fa-regular fa-gift icon-color"></i>
            </a>
        </div>


        <div class="each-button-container">
            <div class="name me-2">Games</div> <a>
                <i class="fa-solid fa-gamepad icon-color"></i>
            </a>
        </div>
    </div>
</div>