<div class="w-100 body card px-2 py-2 m-top">
    <div class="d-flex align-items-center">
        <div class="avatar position-relative">
            <span class="is-active-indicator" [style]="isActive?'display:visible':'display:none'">
                <span class="visually-hidden">New alerts</span>
            </span>
        </div>
        <div class="name ms-3">Name
            <div class="activity">1 mint ago</div>
        </div>
    </div>

    <hr>
    <div class="w-100 mt-5 pb-5">
        <div class="d-flex justify-content-end mt-4">
            <div class="my-message me-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque tempore aliquid
                porro
                harum dolore libero dignissimos temporibus repellat corporis sequi reprehenderit error soluta officia,
                ipsam
                numquam officiis facere, repudiandae vitae?
            </div>
            <div class="small-avatar"></div>
        </div>
        <div class="d-flex justify-content-start mt-4">
            <div class="small-avatar"></div>
            <div class="other-message ms-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus mollitia,
                illo
                minima accusamus aperiam repellat alias veniam quasi. Itaque tenetur impedit, nesciunt nulla ullam
                eveniet
                commodi nihil ducimus molestias consectetur?</div>
        </div>
    </div>
    <div class="w-100 d-flex justify-content-around align-items-end">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-emoji-laughing"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
                d="M12.331 9.5a1 1 0 0 1 0 1A4.998 4.998 0 0 1 8 13a4.998 4.998 0 0 1-4.33-2.5A1 1 0 0 1 4.535 9h6.93a1 1 0 0 1 .866.5zM7 6.5c0 .828-.448 0-1 0s-1 .828-1 0S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 0-1 0s-1 .828-1 0S9.448 5 10 5s1 .672 1 1.5z" />
        </svg>
        <input type="text" placeholder="type here.." class="border-none w-100 mx-3 bg-light">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-send"
            viewBox="0 0 16 16">
            <path
                d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z" />
        </svg>
    </div>
</div>