<a class="text-decoration-none text-dark" href="/each-message">
    <div class="each-message-div px-3 py-3" [style]="isOpened?'background-color:none':'background-color:white'">
        <div class="avatar"></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem consequuntur natus molestiae
            aspernatur accusamus quis.</p>
        <div class="date">4 jan 2016
        </div>
        <p class="text-light rounded-circle text-center bg-success count">3</p>
    </div>
</a>
