img {
    height: 400px;
    width: 90%;
    border-radius: 10px;
}

.main-card {
    width: 90%;
    padding-left: 50px;
}

.avatar {
    border-radius: 100%;
    height: 2rem;
    width: 2rem;
    background-color: #3B5998;
}

.user-details-card {
    margin-top: 40px;
    margin-bottom: 10px;
}

.post-details {
    font-size: small;
    text-align: start;
    margin-bottom: 10px;
}

.date {
    font-size: smaller;
    color: grey;
}

.name {
    font-size: medium;
    color: #3B5998;
    font-weight: 500;
}

.avatar-card{
    align-items: center;
    justify-items: flex-start;
}

.card-body{
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
}

.m-top{
    margin-top: 100px;
}